body {
  background-color: white; }

body, a {
  color: #555;
  font-weight: 300;
  font-size: 14px; }

/* * {
  box-sizing: border-box; }
*/

.middleblob { position: fixed; left:47%}

a {
  text-decoration: none; }

ul, li {
  list-style: none; }

ul {
  margin: 0 auto;
  padding: 0; }

li {
  float: left;

  text-align: center; }

.progress {
  height: 120px;
  position: relative;
  background-color: white;
  overflow: hidden;
  -webkit-filter: brightness(1.5) contrast(20) saturate(0.5); }
  .progress > li, .progress > .blob {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 40px 30px;
    background-color: #000000; }
  .progress > li {
    -webkit-filter: blur(10px); }
  .progress > .active {
    transform: scale(2); }
  .progress > .blob {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    -webkit-animation: back-forth 7s infinite alternate; }

@-webkit-keyframes back-forth {
  from {
    left: 0%; }
  to {
    left: 100%; } }


.onclick-menu {
    position: absolute; left:49%;
    display: inline-block;

}
.onclick-menu:before {
    content: "⁣⁣ ​  ​ 卐";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
